node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
config.js
my-food-picker-firebase-adminsdk-cozou-fccb1576b6.json

# macOS
.DS_Store

# firebase
.firebase
.firebaserc
